* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

button { cursor: pointer; border: none; background: none; }
img { width: 100%; }  
ul { list-style: none; }
a { text-decoration: none; }

header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: #3b141c;
}

header .navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .nav-text {
    color: rgb(255, 255, 255);
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}



.nav-actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-login {
    color: white;
    font-size: 1.4rem;
    padding: 8px 10px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.nav-login:hover {
    color: #000000;
    background-color: #e2750f;
    border-color: #e2750f;
}