*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #3b141c;
}

.login-container{
    width:550px;
    padding:40px 30px;
    border-radius:20px;
    background: linear-gradient(145deg,#000000,#2d2c2e);
    box-shadow:0 20px 40px rgba(0,0,0,0.15);
    text-align:center;
}

.avatar{
    width:70px;
    height:70px;
    margin:0 auto 15px;
    border-radius:50%;
    background: linear-gradient(135deg,#ff6804,#ffe262);
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:30px;
}

h2{
    font-weight:600;
    margin-bottom:5px;
    color: white;
}

.subtitulo{
    font-size:14px;
    color:#ffffff;
    margin-bottom:25px;
}

.datos{
    text-align:left;
    margin-bottom:18px;
}

.datos label{
    font-size:14px;
    display:block;
    margin-bottom:6px;
    color:#fff2f2;
}

.datos input{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:1px solid #ddd;
    outline:none;
    font-size:14px;
    transition:0.3s;
}

.datos input:focus{
    border-color:#7c3aed;
    box-shadow:0 0 0 3px rgba(124,58,237,0.15);
}

.opciones{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:13px;
    margin-bottom:20px;
    color: white;
}

.opciones a{
    text-decoration:none;
    color:#4f46e5;
}

.loginbtn{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background: linear-gradient(90deg,#000000,#d35f00);
    color:white;
    font-size:15px;
    font-weight:500;
    cursor:pointer;
    transition:0.3s;
}

.loginbtn:hover{
    opacity:0.9;
}

.divider{
    margin:20px 0;
    font-size:13px;
    color:#777;
    position:relative;
}

.divider::before,
.divider::after{
    content:"";
    position:absolute;
    width:30%;
    height:1px;
    background:#ccc;
    top:50%;
}

.divider::before{ left:0; }
.divider::after{ right:0; }

.social-buttons{
    display:flex;
    gap:10px;
}

.social-buttons button{
    flex:1;
    padding:10px;
    border-radius:10px;
    border:1px solid #ddd;
    background:white;
    cursor:pointer;
    font-size:14px;
    transition:0.3s;
}

.social-buttons button:hover{
    background:#f3f4f6;
}

.registro{
    margin-top:20px;
    font-size:14px;
    color: white;
}

.registro a{
    text-decoration:none;
    color:#4f46e5;
    font-weight:500;
}

.seguridad{
    margin-top:15px;
    font-size:12px;
    color:#777;
}
@media (max-width: 1024px) {
    .imagenes {
        grid-template-columns: repeat(2, 1rf);
    }

    .titulo {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
   body {
    display:flex;
    justify-content: center;
    align-items: center; }

.login-container{
    width: 90%;
    padding: 20px;
}
h1 {
    font-size: 22px;
}
p { font-size: 14px;}
}

@media (max-width: 480px) {
  .login-container{
    width: 85%;
    padding: 15px;
  }
  h1 {
    font-size: 18px;
  }
  button {
    padding: 12px;
    font-size: 14px;
  }
}